<footer>
  <div class="footer">
    <p class="footer-header">Ми будем раді, якщо ви залишитесь з нами)</p>
    <div class="footer-info">
      <p class="p-left">Якщо виникли питання, звертайтесь до нас за <br>номером:<br>095-456-65-00</p>
      <p class="p-center">Надавши дозвіл на використання вашої електронної адреси, ви стаєте частинкою нашої
        родини)) Ми хочемо, щоб ви скуштували останні новинки меню, а також знали, які заходи ми для вас підготували
      </p>
      <p class="p-right">м. Львів, вул. Театральна, 8а (вхід із внутрішнього дворика)</p>
    </div>
    <form action="">
      <input type="text" placeholder="Email Address">
      <button >НАДІСЛАТИ</button>
    </form>
  </div>
</footer>

