<div class="contact-container">
  <div class = "map">
    <img src="../../assets/images/map.png" alt="">
  </div>
  <div class = "info">
    <p>Якщо виникли питання звертайтеся до нас за номером:</p>
    <p id="number">095-456-64-00</p>
    <p>м. Львів, вул. Театральна, 8а (вхід із внутрішнього дворика)</p>
    <p>Графік роботи:</p>
    <p>Пн. - Чт. з 11:00 до 23:00</p>
    <p>Пт. - Нд. з 10:00 до 24:00</p>
    <p>dome@gmail.com</p>
    <div class = "icons">
      <img src="../../assets/images/twitter.svg" alt="">
      <img src="../../assets/images/face.svg" alt="">
      <img src="../../assets/images/insta.svg" alt="">
    </div>
    <div class = "icons">
       <button>Приєднатися до нас</button>
    </div>
  </div>
</div>
