<div class="contact-container">
  <div class = "map">
    <img src="../../assets/images/map.png" alt="">
  </div>
  <div class = "info">
    <p>Якщо виникли питання звертайтеся до нас за номером:</p>
    <p id="number">095-456-64-00</p>
    <p>м. Львів, вул. Театральна, 8а (вхід із внутрішнього дворика)</p>
    <p>Графік роботи:</p>
    <p>Пн. - Чт. з 11:00 до 23:00</p>
    <p>Пт. - Нд. з 10:00 до 24:00</p>
    <p>dome@gmail.com</p>
    <div class = "icons">
      <img src="../../assets/images/twitter.svg" alt="">
      <img src="../../assets/images/face.svg" alt="">
      <img src="../../assets/images/insta.svg" alt="">
    </div>
    <div class = "icons">
       <button (click)="openModal(template)">Приєднатися до нас</button>
    </div>
  </div>
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Стань частинкою нашої родини</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="form">
          <p class="form-description">Ми хочемо бути ближчими до вас, тому пропонуємо заповнити форму, яка дасть можливість
            першими дізнаватись про події, які відбуватимуться у нашому кафе, а також ви отримуватиме унікальні пропозиції
            щодо акцій та знижок, які діють для наших рідних</p>
          <p class="form-p2">*заповнивши цю форму ви даєте згоду на використання ваших особистих даних</p>
          <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
            <div class="input-cont">
              <input type="hidden" name="userId" [value] = "service.formData.userId">
            <input name="LastName" #LastName=ngModel [(ngModel)]="service.formData.LastName" type="text" placeholder="Прізвище" required>
            <input name="FirstName" #FirstName=ngModel [(ngModel)]="service.formData.FirstName" type="text" placeholder="Ім'я" required>
            <input name="PhoneNumber" #PhoneNumber=ngModel [(ngModel)]="service.formData.PhoneNumber" type="text" placeholder="Номер телефону" required>
            <input name="UserEmail" #UserEmail=ngModel [(ngModel)]="service.formData.UserEmail" type="text" placeholder="error@gmail.com" required>
            </div>
            <div class = "icons">
            <button type="submit" >Приєднатись</button>
            </div>
          </form>
        </div>
    </div>
  </ng-template>
</div>


