<main>
  <div class="container">
    <div class="photo-container">
      <div class="image first" id="ph1">
        <p class="hidden-text">Святкування дня народження Тоні Матвієнко з її родиною <br><span>10-04-2018</span></p>
      </div>
      <div class="image first" id="ph2">
        <p class="hidden-text">Сергій Жадан дав міні-концерт для наших клієнтів <br><span>15-10-2019</span></p>
      </div>
      <div class="image" id="ph3">
        <p class="hidden-text">Dakh Daughters Band відвідали нас при завершенні свого туру <br><span>03-08-2019</span></p>
      </div>
    </div>
    <div class="photo-container">
      <div class="image first" id="ph4">
        <p class="hidden-text">Vivienne дала міні-концерт для наших відвідувачів <br><span>25-06-2018</span></p>
      </div>
      <div class="image" id="ph5">
        <p class="hidden-text">Dahabraha привітали нас, коли нам було 4 рочки <br><span>18-05-2019</span></p>
      </div>
      <div class="image first" id="ph6">
        <p class="hidden-text">Христина Соловій привітала всіх відвідувачів із Днем незалежності <br><span>21-11-2019</span></p>
      </div>
    </div>
    <div class="photo-container">
      <div class="image" id="ph7">
        <p class="hidden-text">ТНМК завітали до нас 14 лютого з концертом <br><span>19-07-2019</span></p>
      </div>
      <div class="image first" id="ph8">
        <p class="hidden-text">Директор видатництва "А-Ба-Ба-Га-Ла-Ба-Га" Іван Малкович провів неймовірну конференцію <br><span>28-01-2020</span></p>
      </div>
      <div class="image first" id="ph9">
        <p class="hidden-text">Видатного письменника Антіна Мухарського було запрошено на читацький вечір <br><span>23-02-2019</span></p>
      </div>
    </div>
  </div>
</main>
