<main>
  <div class="container">
    <div class="photo-container">
      <div class="image first" id="ph1">
        <p class="hidden-text">Святкування дня народження Тоні Матвієнко з її родиною</p>
      </div>
      <div class="image first" id="ph2">
        <p class="hidden-text">Сергій Жадан дав міні-концерт для наших клієнтів</p>
      </div>
      <div class="image" id="ph3">
        <p class="hidden-text">Dakh Daughters Band відвідали нас при завершенні свого туру</p>
      </div>
    </div>
    <div class="photo-container">
      <div class="image first" id="ph4">
        <p class="hidden-text">Vivienne дала міні-концерт для наших відвідувачів</p>
      </div>
      <div class="image" id="ph5">
        <p class="hidden-text">Dahabraha привітали нас, коли нам було 4 рочки</p>
      </div>
      <div class="image first" id="ph6">
        <p class="hidden-text">Христина Соловій привітала всіх відвідувачів із Днем незалежності</p>
      </div>
    </div>
    <div class="photo-container">
      <div class="image" id="ph7">
        <p class="hidden-text">ТНМК завітали до нас 14 лютого з концертом</p>
      </div>
      <div class="image first" id="ph8">
        <p class="hidden-text">Директор видатництва "А-Ба-Ба-Га-Ла-Ба-Га" Іван Малкович провів неймовірну конференцію</p>
      </div>
      <div class="image first" id="ph9">
        <p class="hidden-text">Видатного письменника Антіна Мухарського було запрошено на читацький вечір</p>
      </div>
    </div>
  </div>
</main>
