<main>
  <div class="menu">
    <div class="container">
      <div class="description">
        <div class="text">
          <h1>ФІРМОВІ</h1>
          <p class="text-1">
            У кафе "Під куполом" ми пропонуємо дегустаційне меню, в якому висвітлюється найкраща продукція,
            яку ми можемо отримати з усієї України, а також рідкісні сири та вина, що регулярно доставляються
            з Франції.
          </p>
          <p class="text-2">
            (Зверніть увагу: ми пропонуємо 6-ти стравний сет меню в нашому закладі у понеділок - четвер
            ввечері, який також доступний в обід)
          </p>
        </div>
      </div>
      <div class="photo small">
        <img src="../../assets/images/dish2.jpg" alt="">
      </div>
    </div>
    <div class="container">
      <div class="description">
        <div class="text">
          <h1>ОСОБЛИВОСТІ КУХНІ</h1>
          <p class="text-1">
            Регіональна французька кухня провінцій Гасконь та Прованс відрізняється гостротою, використанням
            при готуванні страв, вин і спецій, і особливо, часнику і цибулі.
          </p>
          <p class="text-2">
            У нашому кафе головною особливістю кухні є використання винятково свіжих продуктів, причому якості
            й особливості властиві кожному продукту повинні зберігатися і після процесу готування, тому ми пропонуємо
            вам страви дня, які є приготовані з якісних продуктів, що їх нам доставляють фермерські господарства краю.
          </p>
        </div>
      </div>
      <div class="photo small">
        <img src="../../assets/images/dish3.jpg" alt="">
      </div>
    </div>
    <div class="container">
      <div class="description">
        <div class="text">
          <h1>ВИННА КАРТА</h1>
          <p class="text-1">
            Наша винна карта демонструє регіони старого та нового світу, що охоплюють традиційні та сучасні
            стилі виноробства, з акцентом на саморобних виробників. Крім того, ми також пропонуємо декілька пар
            поєднання вина внаслідок м'якого сполучення.
          </p>
          <p class="text-2">
            Родзинкою винної карти є вино одного з виробників. <span>Envinate</span> - це дітище чотирьох друзів.
            Це вино являє собою суміш багатьох різних місцевих червоних сортів, які виніфікуються окремо, з деякими
            посилками, які зазнають контакту зі шкірою. По-справжньому унікальне та характерне вино, що передає
            освіжаючу кислотність.
          </p>
        </div>
      </div>
      <div class="photo middle">
        <img src="../../assets/images/vine.jpg" alt="">
      </div>
    </div>
    <div class="container">
      <div class="description">
        <div class="text">
          <h1>ВИННИЙ ПОГРІБ</h1>
          <p class="text-1">
            У нашому винному погребі зберігаються рідкісні та колекційні пляшки вин з найкращих сортів винограду.
          </p>
          <p class="text-3">
            Дотримання норм та правил зберігання вин є запорукою передачі особливого і неповторного смаку кожного.
          </p>
          <p class="text-3">Тому ми створили правильний температурний режим, що є основою для довгого зберігання вина.
          </p>
          <p class="text-3">Спокій - найважливіша умова при зберіганні вина в приміщенні. Саме з цієї причини шумоізоляцію погребу є невід'ємною
          його частиною.
          </p>
          <p class="text-3">Більшість фахівців вважають, що вино повинно зберігатися в горизонтальному положенні. Вважається, що,
          стикаючись з вином, пробка також впливає на формування смаку.
          </p>
        </div>
      </div>
      <div class="photo middle">
        <img src="../../assets/images/rest2.jpg" alt="">
      </div>
    </div>
  </div>
</main>
