<main>
  <h1>Це ми...</h1>
  <div class="gallery-container1">
    <div class="photo-cafe1">
      <div class="photo" id="ph1"></div>
      <div class="photo" id="ph2"></div>
      <div class="photo" id="ph3"></div>
    </div>
    <div class="photo-cafe2">
      <div class="photo" id="ph4"></div>
      <div class="photo" id="ph5"></div>
    </div>
  </div>
  <div class="gallery-awards">
    <div class="text-awards">
      <h2>Наші досягнення</h2>
      <p>У <span>2015</span> році наша команда стала учасницею телепрограми "Ревізор", у ході якої отримала заслужене золото.</p>
      <p> У <span>2018</span> році заклад отримав відзнаку "Гордість міста" у результаті перевірки телешоу "Інспектор. Міста".</p>
      <p> А в <span>2019</span> р. шеф-кухар кафе отримав омріяну зірку Мішлен. </p>
    </div>
    <div class="photo-awards1">
      <div class="photo" id="ph6"></div>
      <div class="photo" id="ph7"></div>
    </div>
    <div class="photo" id="ph8"></div>
  </div>
  <div class="gallery-container3">
    <div class="panorama" id="ph9"></div>
  </div>
</main>
