<div class="main-container">
  <h2>Опис закладу</h2>
  <p>Ласкаво запрошуємо у заклад французької  кухні із найбільш різноманітною винною картою в місті. Тільки у
    нас ви можете скуштувати гастрономічні новинки від шеф-кухаря рівня Мішлен. У наших винних погребах ви
    неодмінно знайдете саме те вино, яке імпонує вам не тільки за смаком, а й за характером. А наші досвідчені
    сомельє проведуть для вас дегустацію із описом наших неоціненних перлин у світі вина.</p>
  <br>
    <p>Щороку кафе "Під куполом" відвідує близько 1 млн. відвідувачів, внаслідок чого він є однією з найбільш
    відвідуваних туристичних зупинок міста.</p>
  <div class="chart-container">
    <div class="img-text">
      <img src="../../assets/images/RingChart.svg" alt="">
      <p>Цінова політика</p>
    </div>
    <div class="img-text">
      <img src="../../assets/images/SpendingChart.svg" alt="">
      <p>Кількість відвідувачів щорічно</p>
    </div>
  </div>
  <div class="info">
    <div class="description">
      <h2>АТМОСФЕРА</h2>
      <p>"...ранкове сонце підіймалось над Ліоном. Його проміння відблискувало у лагідних хвилях Сони. А на вулиці Сен-Жан ще не юрмиться натовп туристів."
        Ці слова Лорана Гунеля влучно описують наш заклад зсередини, оскільки це єдиний заклад міста, що передає французький колорит.
      </p>
    </div>
    <div class="images">
      <img src="../../assets/images/rest1.jpg" alt="">
    </div>
  </div>
  <div class="info">
    <div class="description">
      <h2>OPEN SPACE</h2>
      <p>Заклад поєднує у собі не тільки затишну атмосферу та вишукану кухню, а й просторі зали для святкувань ваших подій. Загалом зали заклад мають площу 460 м² та вміщає одночасно до 150 відвідувачів.
        Ми пропонуємо ергономічне розташування елементів декору та столиків, що створить вам найкращі умови для проведення заходів різного ґатунку.
      </p>
    </div>
    <div class="images">
      <img src="../../assets/images/rest1.jpg" alt="">
    </div>
  </div>
  <div class="cont">
    <h2>Відгуки</h2>
    <div class="coment">
      <div class="coment-images">
        <img src="../../assets/images/girl1.svg" alt="">
      </div>
      <div class="coment-text">
        <p>"Неймовірно смачна кухня!! Забронювала місце заздалегідь і залишилась задоволена! Милий інтер'єрчик)"</p>
      </div>
    </div>
    <div class="coment">
      <div class="coment-images">
        <img src="../../assets/images/boy1.svg" alt="">
      </div>
      <div class="coment-text">
        <p>"Святкували з дружиною річницю весілля і були вражені сервісом! Якщо зареєструватись на сайті, то можна отримати хорошу знижку. Тепер відвідуємо заклад частіше!"</p>
      </div>
    </div>
    <div class="coment">
      <div class="coment-images">
        <img src="../../assets/images/girl2.svg" alt="">
      </div>
      <div class="coment-text">
        <p>Організовували корпоративну зустріч з партнерами і не очікували їжі такого рівня, чим були дуже вражені! Рекомендую для проведення заходів за участю багатьох осіб.</p>
      </div>
    </div>
  </div>
  <div class="cont">
    <h2>Питання</h2>
    <div class = "btns">
      <button routerLink="/contacts">Як дістатися до закладу?</button>
    </div>
    <div class = "btns">
      <button routerLink="/menu">Де дізнатись інформацію про різноманітність винної карти?</button>
    </div>
    <div class = "btns">
      <button routerLink="/contacts">Працевлаштування і кар'єрний ріст</button>
    </div>
    <div class = "btns">
      <button id="last-btn" routerLink="/gallery" >Переваги закладу</button>
    </div>
  </div>
</div>

